@import '../login/login.scss';

.terms-checkbox {
  margin-top: -0.5rem;
  margin-bottom: 1rem;

  .link {
    color: #6366f1;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .checkbox-error {
    color: #f44336;
    font-size: 0.75rem;
    margin-top: 0.25rem;
    margin-left: 32px;
  }
}
